// Botones y algunos tipos de inputs[type="submit o reset"]
button
.boton
	background naranja_suave
	border none
	border-radius 4px
	font-family fuente_heading_bold
	color blanco
	cursor pointer
	display inline-block
	padding 0.5em 1em
	vertical-align middle
	
button[type="submit"]
	background verde_azulado

button
.boton
	&:hover
	&:focus
		background rosa_suave
