// Comentarios del blog y/o de cualquier noticias/entrada
.comment-list
	margin 0
	padding 0
	list-style none
	li
		border 1px solid plateado
		padding 9px
		ul
			list-style none
			margin-top 1em
			margin-bottom 1em